@layout-width: 974px;
@layout-sidebar-width: 231px;
@layout-sidebar-r-padding: 40px;
@r-content-width: @layout-width - @layout-sidebar-width;//753px

html,body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	.app-layout-main-bgfore-mixin;
	font-family: Arial;
}
html {
	overflow-y: scroll;
}
body {
	position: relative;
	height: 100%;
}

.app-layouts-main-navigation {
	div.inner {
		position: relative;
		width: @layout-width;
		margin: 0px auto;
		&:after {
			.after-clearfix;
		}

		.logo-container {
			float: left;
			width: @layout-sidebar-width - 50;
			&:after {
				.after-clearfix;
			}
			.logo {
				float: left;
			}
		}
		.menu-container {
			margin-left: @layout-sidebar-width;
		}
	}
	position: fixed;
	z-index: 150;
	width: 100%;
	height: @top-menu-height;
	border-bottom: 1px solid #dbdbdb;
	background-color: #f0f0f0;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    0px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: 		0px 1px 0px 0px rgba(255, 255, 255, 1);

	#up_menu {
		margin: 0px 20px 0 0;
	}
	.negative-balance {
		background: red;
		color: yellow;
		text-align: center;
		padding: 10px 0;
		font-size: 16px;
	}
}

.app-layouts-main-page-footer {
	height: @bottom-footer-height;
	margin-top: -@bottom-footer-height;
	position: relative;
	z-index: 100;
	&.fixed-panel {
		display: none;
	}

	.app-widget-site-footer {
		height: @bottom-footer-height;
		overflow: hidden;
	}
}

.app-layouts-main-page-container {
	min-height: 100%;
	padding-top: @top-menu-height;
	padding-bottom: 25px;
	//padding-bottom: @bottom-footer-height + 25;
	&.fixed-panel {
		z-index: 140;
		padding-bottom: 0;
		.content-wrapper {
			padding-left: 0;
		}
		.layout-content {
			position: relative;
		}
		.app-widget-email-confirmation {
			display: none;
		}
	}
	position: relative;
	width: @layout-width;
	margin: 0px auto;
	.float {
		float: left;
		width: 100%;
	}
	.sidebar-wrapper {
		position: relative;
		float: left;
		height: 100%;
		margin: 0 !important;
		padding-right: @layout-sidebar-r-padding;
		.app-layout-main-bgfore-mixin;
		&.fixed-panel {
			position: fixed;
		}
	}
	.content-wrapper {
		//padding-left: 15px;

		width: auto !important;
	}
	.content-wrapper-center {
		width: @layout-width - @layout-sidebar-width !important;
		margin: 0 auto;
	}
}

.width-sidebar {
	width: @layout-sidebar-width;
	margin-left: @layout-sidebar-width;
}

h2 {
	font-size: 15px;
	font-weight: bold;
	color: #000;
	border-bottom: 1px solid @grey;
	margin: 0 0 18px;
	padding: 0 0 5px;
}
.badge {
	border-radius: 3px !important;
}
.badge-red {
	background-color: #C40000 !important;
}
.btn-login {
	text-align: center;
	padding: 20px;
	.btn {
		padding: 7px 50px;
	}
}