.settings-seller-index {
	width: 655px;
	margin: 5px auto 20px auto;

	// global styles
	.b-box-content {
		padding: 20px 0 50px 25px;

		.input-group-addon {
			border-radius: 0;
			border-top: 1px solid #DAE1E8;
			border-left: 1px solid #DAE1E8;
			border-bottom: 1px solid #DAE1E8;
		}

		.b-row {
			@width-col-1: 148px;
			padding: 0 0 10px 0;
			margin-bottom: 9px;
			position: relative;
			&:hover {
				.e-hint {
					display: block;
				}
			}
			.b-col-1 {
				float: left;
				width: @width-col-1;
			}
			.b-col-2 {
				margin-left: @width-col-1;
			}
			&:after {
				.after-clearfix;
			}

			.e-lbl {
				font-weight: normal;
				margin: 0;
				padding: 0;
				line-height: 26px;
				color: @grey-font;
				.required {
					display: none;
				}
				&.m-txt {
					position: relative;
					bottom: 3px;
				}
			}
			.e-value {
				margin: 0;
				padding: 0;
				line-height: 26px;
			}

			.e-hint {
				float: right;
				display: none;
				line-height: 26px;
				font-size: 12px;
				color: @grey-font;
				padding: 0 0 0 8px;
				i {
					margin-top: 0;
				}
			}
		}
	}


	// styles in section context
	.b-general {
		.howto-mixin;
		.cbbtn-wrapper {
			display: inline-block;
			&:not(:last-child) {
				margin-right: 5px;
			}
			.cbbtn-cb {
				position: absolute;
				opacity: 0;
				&:checked + .cbbtn-lbl {
					.cbbtn-lock {
						&:hover {
							background: #fbfbfb;
						}
						display: block;
						background: #fff;
						.fa {
							opacity: 1;
							color: @red-font;
						}
					}
				}
				&:disabled + .cbbtn-lbl {
					cursor: default;
					.cbbtn-lock {
						&:hover {
							background: #fff;
						}
						.fa {
							opacity: 0.3 !important;
							color: @grey-font !important;
						}
					}
				}
			}
			.cbbtn-lbl {
				cursor: pointer;
				position: relative;
				width: 54px;
				background: #fff;
				border: 1px solid #e3e2e2;
				border-radius: 2px;
				padding: 5px 0 4px 0;
				margin: 0;
				text-align: center;
				font-weight: normal;
				font-size: 11px;
				text-transform: uppercase;
				.cbbtn-lock {
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding-top: 5px;
					border-radius: 3px;
					background: #fbfbfb;
					.fa {
						font-size: 13px;
						opacity: 0.5;
						color: @red-font;
					}
				}
				&:hover {
					.cbbtn-lock {
						display: block;
					}
				}
			}
		}

		.b-niches {
			.checkbox {
				padding-top: 3px;
				&:not(:first-child) {
					margin-left: 15px;
				}
			}
		}
		.b-best-solo-time {
			@w-col-left: 50px;
			&:after { .after-clearfix; }
			.b-col-left {
				float: left;
				width: @w-col-left;
				.app-widget-simple-drop {
					.e-lbl {
						color: #000;
					}
					.b-dropmenu li {
						font-size: 14px;
					}
				}
			}
			.b-col-right {
				padding-left: 15px;
				margin-left: @w-col-left;
			}
			.b-hour-row {
				border-radius: 3px;
				border: #ccc solid 1px;
				margin-bottom: 5px;
				background: #fff;
				display: inline-block;
				padding: 0 5px;
				//padding-top: 3px 5px;
				.cb-hour-wrapper {
					display: inline-block;
					&:not(:last-child) {
						//margin-right: 5px;
					}
					.cbbtn-cb {
						position: absolute;
						opacity: 0;
						&:checked + .cbbtn-lbl {
							.cbbtn-lock {
								display: block;
								.ud-thumbs-up {
									opacity: 1;
								}
							}
						}
					}
					.cbbtn-lbl {
						cursor: pointer;
						position: relative;
						width: 30px;
						background: #fff;
						//border: 1px solid #e3e2e2;
						//border-radius: 2px;
						padding: 5px 0 4px 0;
						margin: 0;
						text-align: center;
						font-weight: normal;
						white-space: nowrap;
						.e-small {
							font-size: 11px;
						}
						//font-size: 11px;
						.cbbtn-lock {
							display: none;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							padding-top: 5px;
							//border-radius: 3px;
							background: #fff;
							.ud-thumbs-up {
								font-size: 13px;
								opacity: 0.5;
							}
						}
						&:hover {
							.cbbtn-lock {
								display: block;
							}
						}
					}
				}
			}
		}
	}
	.b-extra {
		.howto-mixin;
		.input-group {
			float: left;
			width: 105px;
		}
		.b-row-extra {
			.e-remove {
				position: absolute;
				left: 210px;
				top: 2px;
			}
		}
		.new-extras-container {
			.b-row {
				.b-col-1 {
					float: left;
					width: 140px;
					margin: 0 10px 0 0;
				}
				.b-col-2 {
					float: left;
					width: 180px;
					margin: 0 10px 0 0;
				}
				.b-col-3 {
					float: left;
					width: 115px;
				}
				.b-col-4 {
					float: left;
					width: 65px;
					.btn {
						padding-top: 2px;
						padding-bottom: 2px;
					}
				}
				.b-col-5 {
					float: left;
					width: 30px;
					text-align: right;
					padding: 3px 0 0 0;
				}
				&:after {.after-clearfix}
			}
		}
	}
	.b-custom-agr {
		.howto-mixin;
		.b-box-content {
			padding-right: 71px;
			.e-note {
				padding: 0 0 10px 0;
			}
			.item-wrap {
				.g-whitebox-1-mixin;
				&:after {.after-clearfix}
				.e-cancel {
					position: absolute;
					right: -70px;
					top: 22px;
				}
				@w-col-avatar: 68px;
				@w-col-percent: 115px;
				padding: 10px;
				margin-bottom: 10px;
				position: relative;
				.item-wrap-avatar {
					float: left;
					width: @w-col-avatar;
				}
				.item-wrap-body {
					margin-left: @w-col-avatar;
					margin-right: @w-col-percent;
					.b-fullname {
						font-size: 16px;
					}
					.b-agreement-link {
						.lbl {
							font-size: 10px;
						}
						padding-top: 5px;
						font-size: 12px;
					}
				}
				.item-wrap-percent {
					float: right;
					width: @w-col-percent;
					color: @red-font;
					text-align: center;
					padding: 2px 0 0 0;
					.b-agreement-percent {
						font-size: 18px;
						font-weight: bold;
					}
					.b-agreement-copy {
						font-size: 10px;
					}
				}
			}

			.new-agr-container {
				.b-row {
					@width-col-1: 140px;
					padding: 0 0 10px 0;
					margin-bottom: 4px;
					.b-col-1 {
						float: left;
						width: @width-col-1;
						label {
							font-weight: normal;
							color: @grey-font;
							margin: 0;
							padding: 0;
							line-height: 26px;
							.required {
								display: none;
							}
						}
					}
					.b-col-2 {
						margin-left: @width-col-1;
					}
					&:after {
						.after-clearfix;
					}
				}
				.item-wrap-empty {
					border-radius: 3px;
					border: 1px dashed #dcdcdc;
					text-align: center;
					padding: 20px 0 0 0;
					color: #cccccc;
					height: 69px;
					margin-top: 12px;
				}
				.e-sbt {
					float: right;
				}
				.e-cancel {
					float: right;
					margin: 5px 20px 0 0;
				}
			}
		}
	}
	.b-reseller {
		.howto-mixin;
	}
}

.settings-seller-tips {
	padding: 30px 50px;
	.title {
		text-align: center;
		font-size: 20px;
		font-weight: bold;

	}
	.sub-title {
		font-size: 18px;
		font-weight: bold;
		padding: 10px 0;
	}
	.list {
		li {
			list-style-type: decimal;
			padding-bottom: 20px;
		}
	}
}