/* GLYPHICONS 1.8 */
@font-face { font-family: "Glyphicons"; src: url("./fonts/glyphicons-regular.eot"); src: url("./fonts/glyphicons-regular.eot?#iefix") format("eot"), url("./fonts/glyphicons-regular.woff") format("woff"), url("./fonts/glyphicons-regular.ttf") format("truetype"), url("./fonts/glyphicons-regular.svg#glyphiconsregular") format("svg"); }

[class*="glyphicons-"] { display: inline-block; vertical-align: middle; font-family: "Glyphicons"; font-style: normal; font-weight: normal; font-size: 1em; }

.glyphicons-spin { -moz-animation: glyphicons-spin 2s infinite linear; -o-animation: glyphicons-spin 2s infinite linear; -webkit-animation: glyphicons-spin 2s infinite linear; animation: glyphicons-spin 2s infinite linear; }

@-moz-keyframes glyphicons-spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }

@-webkit-keyframes glyphicons-spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }

@-o-keyframes glyphicons-spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }

@-ms-keyframes glyphicons-spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }

@keyframes glyphicons-spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }

.glyphicons-glass:before { content: "\E001"; }

.glyphicons-leaf:before { content: "\E002"; }

.glyphicons-dog:before { content: "\1F415"; }

.glyphicons-user:before { content: "\E004"; }

.glyphicons-girl:before { content: "\1F467"; }

.glyphicons-car:before { content: "\E006"; }

.glyphicons-user_add:before { content: "\E007"; }

.glyphicons-user_remove:before { content: "\E008"; }

.glyphicons-film:before { content: "\E009"; }

.glyphicons-magic:before { content: "\E010"; }

.glyphicons-envelope:before { content: "\2709"; }

.glyphicons-camera:before { content: "\1F4F7"; }

.glyphicons-heart:before { content: "\E013"; }

.glyphicons-beach_umbrella:before { content: "\E014"; }

.glyphicons-train:before { content: "\1F686"; }

.glyphicons-print:before { content: "\E016"; }

.glyphicons-bin:before { content: "\E017"; }

.glyphicons-music:before { content: "\E018"; }

.glyphicons-note:before { content: "\E019"; }

.glyphicons-heart_empty:before { content: "\E020"; }

.glyphicons-home:before { content: "\E021"; }

.glyphicons-snowflake:before { content: "\2744"; }

.glyphicons-fire:before { content: "\1F525"; }

.glyphicons-magnet:before { content: "\E024"; }

.glyphicons-parents:before { content: "\E025"; }

.glyphicons-binoculars:before { content: "\E026"; }

.glyphicons-road:before { content: "\E027"; }

.glyphicons-search:before { content: "\E028"; }

.glyphicons-cars:before { content: "\E029"; }

.glyphicons-notes_2:before { content: "\E030"; }

.glyphicons-pencil:before { content: "\270F"; }

.glyphicons-bus:before { content: "\1F68C"; }

.glyphicons-wifi_alt:before { content: "\E033"; }

.glyphicons-luggage:before { content: "\E034"; }

.glyphicons-old_man:before { content: "\E035"; }

.glyphicons-woman:before { content: "\1F469"; }

.glyphicons-file:before { content: "\E037"; }

.glyphicons-coins:before { content: "\E038"; }

.glyphicons-airplane:before { content: "\2708"; }

.glyphicons-notes:before { content: "\E040"; }

.glyphicons-stats:before { content: "\E041"; }

.glyphicons-charts:before { content: "\E042"; }

.glyphicons-pie_chart:before { content: "\E043"; }

.glyphicons-group:before { content: "\E044"; }

.glyphicons-keys:before { content: "\E045"; }

.glyphicons-calendar:before { content: "\1F4C5"; }

.glyphicons-router:before { content: "\E047"; }

.glyphicons-camera_small:before { content: "\E048"; }

.glyphicons-dislikes:before { content: "\E049"; }

.glyphicons-star:before { content: "\E050"; }

.glyphicons-link:before { content: "\E051"; }

.glyphicons-eye_open:before { content: "\E052"; }

.glyphicons-eye_close:before { content: "\E053"; }

.glyphicons-alarm:before { content: "\E054"; }

.glyphicons-clock:before { content: "\E055"; }

.glyphicons-stopwatch:before { content: "\E056"; }

.glyphicons-projector:before { content: "\E057"; }

.glyphicons-history:before { content: "\E058"; }

.glyphicons-truck:before { content: "\E059"; }

.glyphicons-cargo:before { content: "\E060"; }

.glyphicons-compass:before { content: "\E061"; }

.glyphicons-keynote:before { content: "\E062"; }

.glyphicons-paperclip:before { content: "\1F4CE"; }

.glyphicons-power:before { content: "\E064"; }

.glyphicons-lightbulb:before { content: "\E065"; }

.glyphicons-tag:before { content: "\E066"; }

.glyphicons-tags:before { content: "\E067"; }

.glyphicons-cleaning:before { content: "\E068"; }

.glyphicons-ruller:before { content: "\E069"; }

.glyphicons-gift:before { content: "\E070"; }

.glyphicons-umbrella:before { content: "\2602"; }

.glyphicons-book:before { content: "\E072"; }

.glyphicons-bookmark:before { content: "\1F516"; }

.glyphicons-wifi:before { content: "\E074"; }

.glyphicons-cup:before { content: "\E075"; }

.glyphicons-stroller:before { content: "\E076"; }

.glyphicons-headphones:before { content: "\E077"; }

.glyphicons-headset:before { content: "\E078"; }

.glyphicons-warning_sign:before { content: "\E079"; }

.glyphicons-signal:before { content: "\E080"; }

.glyphicons-retweet:before { content: "\E081"; }

.glyphicons-refresh:before { content: "\E082"; }

.glyphicons-roundabout:before { content: "\E083"; }

.glyphicons-random:before { content: "\E084"; }

.glyphicons-heat:before { content: "\E085"; }

.glyphicons-repeat:before { content: "\E086"; }

.glyphicons-display:before { content: "\E087"; }

.glyphicons-log_book:before { content: "\E088"; }

.glyphicons-address_book:before { content: "\E089"; }

.glyphicons-building:before { content: "\E090"; }

.glyphicons-eyedropper:before { content: "\E091"; }

.glyphicons-adjust:before { content: "\E092"; }

.glyphicons-tint:before { content: "\E093"; }

.glyphicons-crop:before { content: "\E094"; }

.glyphicons-vector_path_square:before { content: "\E095"; }

.glyphicons-vector_path_circle:before { content: "\E096"; }

.glyphicons-vector_path_polygon:before { content: "\E097"; }

.glyphicons-vector_path_line:before { content: "\E098"; }

.glyphicons-vector_path_curve:before { content: "\E099"; }

.glyphicons-vector_path_all:before { content: "\E100"; }

.glyphicons-font:before { content: "\E101"; }

.glyphicons-italic:before { content: "\E102"; }

.glyphicons-bold:before { content: "\E103"; }

.glyphicons-text_underline:before { content: "\E104"; }

.glyphicons-text_strike:before { content: "\E105"; }

.glyphicons-text_height:before { content: "\E106"; }

.glyphicons-text_width:before { content: "\E107"; }

.glyphicons-text_resize:before { content: "\E108"; }

.glyphicons-left_indent:before { content: "\E109"; }

.glyphicons-right_indent:before { content: "\E110"; }

.glyphicons-align_left:before { content: "\E111"; }

.glyphicons-align_center:before { content: "\E112"; }

.glyphicons-align_right:before { content: "\E113"; }

.glyphicons-justify:before { content: "\E114"; }

.glyphicons-list:before { content: "\E115"; }

.glyphicons-text_smaller:before { content: "\E116"; }

.glyphicons-text_bigger:before { content: "\E117"; }

.glyphicons-embed:before { content: "\E118"; }

.glyphicons-embed_close:before { content: "\E119"; }

.glyphicons-table:before { content: "\E120"; }

.glyphicons-message_full:before { content: "\E121"; }

.glyphicons-message_empty:before { content: "\E122"; }

.glyphicons-message_in:before { content: "\E123"; }

.glyphicons-message_out:before { content: "\E124"; }

.glyphicons-message_plus:before { content: "\E125"; }

.glyphicons-message_minus:before { content: "\E126"; }

.glyphicons-message_ban:before { content: "\E127"; }

.glyphicons-message_flag:before { content: "\E128"; }

.glyphicons-message_lock:before { content: "\E129"; }

.glyphicons-message_new:before { content: "\E130"; }

.glyphicons-inbox:before { content: "\E131"; }

.glyphicons-inbox_plus:before { content: "\E132"; }

.glyphicons-inbox_minus:before { content: "\E133"; }

.glyphicons-inbox_lock:before { content: "\E134"; }

.glyphicons-inbox_in:before { content: "\E135"; }

.glyphicons-inbox_out:before { content: "\E136"; }

.glyphicons-cogwheel:before { content: "\E137"; }

.glyphicons-cogwheels:before { content: "\E138"; }

.glyphicons-picture:before { content: "\E139"; }

.glyphicons-adjust_alt:before { content: "\E140"; }

.glyphicons-database_lock:before { content: "\E141"; }

.glyphicons-database_plus:before { content: "\E142"; }

.glyphicons-database_minus:before { content: "\E143"; }

.glyphicons-database_ban:before { content: "\E144"; }

.glyphicons-folder_open:before { content: "\E145"; }

.glyphicons-folder_plus:before { content: "\E146"; }

.glyphicons-folder_minus:before { content: "\E147"; }

.glyphicons-folder_lock:before { content: "\E148"; }

.glyphicons-folder_flag:before { content: "\E149"; }

.glyphicons-folder_new:before { content: "\E150"; }

.glyphicons-edit:before { content: "\E151"; }

.glyphicons-new_window:before { content: "\E152"; }

.glyphicons-check:before { content: "\E153"; }

.glyphicons-unchecked:before { content: "\E154"; }

.glyphicons-more_windows:before { content: "\E155"; }

.glyphicons-show_big_thumbnails:before { content: "\E156"; }

.glyphicons-show_thumbnails:before { content: "\E157"; }

.glyphicons-show_thumbnails_with_lines:before { content: "\E158"; }

.glyphicons-show_lines:before { content: "\E159"; }

.glyphicons-playlist:before { content: "\E160"; }

.glyphicons-imac:before { content: "\E161"; }

.glyphicons-macbook:before { content: "\E162"; }

.glyphicons-ipad:before { content: "\E163"; }

.glyphicons-iphone:before { content: "\E164"; }

.glyphicons-iphone_transfer:before { content: "\E165"; }

.glyphicons-iphone_exchange:before { content: "\E166"; }

.glyphicons-ipod:before { content: "\E167"; }

.glyphicons-ipod_shuffle:before { content: "\E168"; }

.glyphicons-ear_plugs:before { content: "\E169"; }

.glyphicons-record:before { content: "\E170"; }

.glyphicons-step_backward:before { content: "\E171"; }

.glyphicons-fast_backward:before { content: "\E172"; }

.glyphicons-rewind:before { content: "\E173"; }

.glyphicons-play:before { content: "\E174"; }

.glyphicons-pause:before { content: "\E175"; }

.glyphicons-stop:before { content: "\E176"; }

.glyphicons-forward:before { content: "\E177"; }

.glyphicons-fast_forward:before { content: "\E178"; }

.glyphicons-step_forward:before { content: "\E179"; }

.glyphicons-eject:before { content: "\E180"; }

.glyphicons-facetime_video:before { content: "\E181"; }

.glyphicons-download_alt:before { content: "\E182"; }

.glyphicons-mute:before { content: "\E183"; }

.glyphicons-volume_down:before { content: "\E184"; }

.glyphicons-volume_up:before { content: "\E185"; }

.glyphicons-screenshot:before { content: "\E186"; }

.glyphicons-move:before { content: "\E187"; }

.glyphicons-more:before { content: "\E188"; }

.glyphicons-brightness_reduce:before { content: "\E189"; }

.glyphicons-brightness_increase:before { content: "\E190"; }

.glyphicons-circle_plus:before { content: "\E191"; }

.glyphicons-circle_minus:before { content: "\E192"; }

.glyphicons-circle_remove:before { content: "\E193"; }

.glyphicons-circle_ok:before { content: "\E194"; }

.glyphicons-circle_question_mark:before { content: "\E195"; }

.glyphicons-circle_info:before { content: "\E196"; }

.glyphicons-circle_exclamation_mark:before { content: "\E197"; }

.glyphicons-remove:before { content: "\E198"; }

.glyphicons-ok:before { content: "\E199"; }

.glyphicons-ban:before { content: "\E200"; }

.glyphicons-download:before { content: "\E201"; }

.glyphicons-upload:before { content: "\E202"; }

.glyphicons-shopping_cart:before { content: "\E203"; }

.glyphicons-lock:before { content: "\1F512"; }

.glyphicons-unlock:before { content: "\E205"; }

.glyphicons-electricity:before { content: "\E206"; }

.glyphicons-ok_2:before { content: "\E207"; }

.glyphicons-remove_2:before { content: "\E208"; }

.glyphicons-cart_out:before { content: "\E209"; }

.glyphicons-cart_in:before { content: "\E210"; }

.glyphicons-left_arrow:before { content: "\E211"; }

.glyphicons-right_arrow:before { content: "\E212"; }

.glyphicons-down_arrow:before { content: "\E213"; }

.glyphicons-up_arrow:before { content: "\E214"; }

.glyphicons-resize_small:before { content: "\E215"; }

.glyphicons-resize_full:before { content: "\E216"; }

.glyphicons-circle_arrow_left:before { content: "\E217"; }

.glyphicons-circle_arrow_right:before { content: "\E218"; }

.glyphicons-circle_arrow_top:before { content: "\E219"; }

.glyphicons-circle_arrow_down:before { content: "\E220"; }

.glyphicons-play_button:before { content: "\E221"; }

.glyphicons-unshare:before { content: "\E222"; }

.glyphicons-share:before { content: "\E223"; }

.glyphicons-chevron-right:before { content: "\E224"; }

.glyphicons-chevron-left:before { content: "\E225"; }

.glyphicons-bluetooth:before { content: "\E226"; }

.glyphicons-euro:before { content: "\20AC"; }

.glyphicons-usd:before { content: "\E228"; }

.glyphicons-gbp:before { content: "\E229"; }

.glyphicons-retweet_2:before { content: "\E230"; }

.glyphicons-moon:before { content: "\E231"; }

.glyphicons-sun:before { content: "\2609"; }

.glyphicons-cloud:before { content: "\2601"; }

.glyphicons-direction:before { content: "\E234"; }

.glyphicons-brush:before { content: "\E235"; }

.glyphicons-pen:before { content: "\E236"; }

.glyphicons-zoom_in:before { content: "\E237"; }

.glyphicons-zoom_out:before { content: "\E238"; }

.glyphicons-pin:before { content: "\E239"; }

.glyphicons-albums:before { content: "\E240"; }

.glyphicons-rotation_lock:before { content: "\E241"; }

.glyphicons-flash:before { content: "\E242"; }

.glyphicons-google_maps:before { content: "\E243"; }

.glyphicons-anchor:before { content: "\2693"; }

.glyphicons-conversation:before { content: "\E245"; }

.glyphicons-chat:before { content: "\E246"; }

.glyphicons-male:before { content: "\E247"; }

.glyphicons-female:before { content: "\E248"; }

.glyphicons-asterisk:before { content: "\002A"; }

.glyphicons-divide:before { content: "\00F7"; }

.glyphicons-snorkel_diving:before { content: "\E251"; }

.glyphicons-scuba_diving:before { content: "\E252"; }

.glyphicons-oxygen_bottle:before { content: "\E253"; }

.glyphicons-fins:before { content: "\E254"; }

.glyphicons-fishes:before { content: "\E255"; }

.glyphicons-boat:before { content: "\E256"; }

.glyphicons-delete:before { content: "\E257"; }

.glyphicons-sheriffs_star:before { content: "\E258"; }

.glyphicons-qrcode:before { content: "\E259"; }

.glyphicons-barcode:before { content: "\E260"; }

.glyphicons-pool:before { content: "\E261"; }

.glyphicons-buoy:before { content: "\E262"; }

.glyphicons-spade:before { content: "\E263"; }

.glyphicons-bank:before { content: "\1F3E6"; }

.glyphicons-vcard:before { content: "\E265"; }

.glyphicons-electrical_plug:before { content: "\E266"; }

.glyphicons-flag:before { content: "\E267"; }

.glyphicons-credit_card:before { content: "\E268"; }

.glyphicons-keyboard-wireless:before { content: "\E269"; }

.glyphicons-keyboard-wired:before { content: "\E270"; }

.glyphicons-shield:before { content: "\E271"; }

.glyphicons-ring:before { content: "\02DA"; }

.glyphicons-cake:before { content: "\E273"; }

.glyphicons-drink:before { content: "\E274"; }

.glyphicons-beer:before { content: "\E275"; }

.glyphicons-fast_food:before { content: "\E276"; }

.glyphicons-cutlery:before { content: "\E277"; }

.glyphicons-pizza:before { content: "\E278"; }

.glyphicons-birthday_cake:before { content: "\E279"; }

.glyphicons-tablet:before { content: "\E280"; }

.glyphicons-settings:before { content: "\E281"; }

.glyphicons-bullets:before { content: "\E282"; }

.glyphicons-cardio:before { content: "\E283"; }

.glyphicons-t-shirt:before { content: "\E284"; }

.glyphicons-pants:before { content: "\E285"; }

.glyphicons-sweater:before { content: "\E286"; }

.glyphicons-fabric:before { content: "\E287"; }

.glyphicons-leather:before { content: "\E288"; }

.glyphicons-scissors:before { content: "\E289"; }

.glyphicons-bomb:before { content: "\1F4A3"; }

.glyphicons-skull:before { content: "\1F480"; }

.glyphicons-celebration:before { content: "\E292"; }

.glyphicons-tea_kettle:before { content: "\E293"; }

.glyphicons-french_press:before { content: "\E294"; }

.glyphicons-coffe_cup:before { content: "\E295"; }

.glyphicons-pot:before { content: "\E296"; }

.glyphicons-grater:before { content: "\E297"; }

.glyphicons-kettle:before { content: "\E298"; }

.glyphicons-hospital:before { content: "\1F3E5"; }

.glyphicons-hospital_h:before { content: "\E300"; }

.glyphicons-microphone:before { content: "\1F3A4"; }

.glyphicons-webcam:before { content: "\E302"; }

.glyphicons-temple_christianity_church:before { content: "\E303"; }

.glyphicons-temple_islam:before { content: "\E304"; }

.glyphicons-temple_hindu:before { content: "\E305"; }

.glyphicons-temple_buddhist:before { content: "\E306"; }

.glyphicons-bicycle:before { content: "\1F6B2"; }

.glyphicons-life_preserver:before { content: "\E308"; }

.glyphicons-share_alt:before { content: "\E309"; }

.glyphicons-comments:before { content: "\E310"; }

.glyphicons-flower:before { content: "\2698"; }

.glyphicons-baseball:before { content: "\26BE"; }

.glyphicons-rugby:before { content: "\E313"; }

.glyphicons-ax:before { content: "\E314"; }

.glyphicons-table_tennis:before { content: "\E315"; }

.glyphicons-bowling:before { content: "\1F3B3"; }

.glyphicons-tree_conifer:before { content: "\E317"; }

.glyphicons-tree_deciduous:before { content: "\E318"; }

.glyphicons-more_items:before { content: "\E319"; }

.glyphicons-sort:before { content: "\E320"; }

.glyphicons-filter:before { content: "\E321"; }

.glyphicons-gamepad:before { content: "\E322"; }

.glyphicons-playing_dices:before { content: "\E323"; }

.glyphicons-calculator:before { content: "\E324"; }

.glyphicons-tie:before { content: "\E325"; }

.glyphicons-wallet:before { content: "\E326"; }

.glyphicons-piano:before { content: "\E327"; }

.glyphicons-sampler:before { content: "\E328"; }

.glyphicons-podium:before { content: "\E329"; }

.glyphicons-soccer_ball:before { content: "\E330"; }

.glyphicons-blog:before { content: "\E331"; }

.glyphicons-dashboard:before { content: "\E332"; }

.glyphicons-certificate:before { content: "\E333"; }

.glyphicons-bell:before { content: "\1F514"; }

.glyphicons-candle:before { content: "\E335"; }

.glyphicons-pushpin:before { content: "\1F4CC"; }

.glyphicons-iphone_shake:before { content: "\E337"; }

.glyphicons-pin_flag:before { content: "\E338"; }

.glyphicons-turtle:before { content: "\1F422"; }

.glyphicons-rabbit:before { content: "\1F407"; }

.glyphicons-globe:before { content: "\E341"; }

.glyphicons-briefcase:before { content: "\1F4BC"; }

.glyphicons-hdd:before { content: "\E343"; }

.glyphicons-thumbs_up:before { content: "\E344"; }

.glyphicons-thumbs_down:before { content: "\E345"; }

.glyphicons-hand_right:before { content: "\E346"; }

.glyphicons-hand_left:before { content: "\E347"; }

.glyphicons-hand_up:before { content: "\E348"; }

.glyphicons-hand_down:before { content: "\E349"; }

.glyphicons-fullscreen:before { content: "\E350"; }

.glyphicons-shopping_bag:before { content: "\E351"; }

.glyphicons-book_open:before { content: "\E352"; }

.glyphicons-nameplate:before { content: "\E353"; }

.glyphicons-nameplate_alt:before { content: "\E354"; }

.glyphicons-vases:before { content: "\E355"; }

.glyphicons-bullhorn:before { content: "\E356"; }

.glyphicons-dumbbell:before { content: "\E357"; }

.glyphicons-suitcase:before { content: "\E358"; }

.glyphicons-file_import:before { content: "\E359"; }

.glyphicons-file_export:before { content: "\E360"; }

.glyphicons-bug:before { content: "\1F41B"; }

.glyphicons-crown:before { content: "\1F451"; }

.glyphicons-smoking:before { content: "\E363"; }

.glyphicons-cloud-upload:before { content: "\E364"; }

.glyphicons-cloud-download:before { content: "\E365"; }

.glyphicons-restart:before { content: "\E366"; }

.glyphicons-security_camera:before { content: "\E367"; }

.glyphicons-expand:before { content: "\E368"; }

.glyphicons-collapse:before { content: "\E369"; }

.glyphicons-collapse_top:before { content: "\E370"; }

.glyphicons-globe_af:before { content: "\E371"; }

.glyphicons-global:before { content: "\E372"; }

.glyphicons-spray:before { content: "\E373"; }

.glyphicons-nails:before { content: "\E374"; }

.glyphicons-claw_hammer:before { content: "\E375"; }

.glyphicons-classic_hammer:before { content: "\E376"; }

.glyphicons-hand_saw:before { content: "\E377"; }

.glyphicons-riflescope:before { content: "\E378"; }

.glyphicons-electrical_socket_eu:before { content: "\E379"; }

.glyphicons-electrical_socket_us:before { content: "\E380"; }

.glyphicons-message_forward:before { content: "\E381"; }

.glyphicons-coat_hanger:before { content: "\E382"; }

.glyphicons-dress:before { content: "\1F457"; }

.glyphicons-bathrobe:before { content: "\E384"; }

.glyphicons-shirt:before { content: "\E385"; }

.glyphicons-underwear:before { content: "\E386"; }

.glyphicons-log_in:before { content: "\E387"; }

.glyphicons-log_out:before { content: "\E388"; }

.glyphicons-exit:before { content: "\E389"; }

.glyphicons-new_window_alt:before { content: "\E390"; }

.glyphicons-video_sd:before { content: "\E391"; }

.glyphicons-video_hd:before { content: "\E392"; }

.glyphicons-subtitles:before { content: "\E393"; }

.glyphicons-sound_stereo:before { content: "\E394"; }

.glyphicons-sound_dolby:before { content: "\E395"; }

.glyphicons-sound_5_1:before { content: "\E396"; }

.glyphicons-sound_6_1:before { content: "\E397"; }

.glyphicons-sound_7_1:before { content: "\E398"; }

.glyphicons-copyright_mark:before { content: "\E399"; }

.glyphicons-registration_mark:before { content: "\E400"; }

.glyphicons-radar:before { content: "\E401"; }

.glyphicons-skateboard:before { content: "\E402"; }

.glyphicons-golf_course:before { content: "\E403"; }

.glyphicons-sorting:before { content: "\E404"; }

.glyphicons-sort-by-alphabet:before { content: "\E405"; }

.glyphicons-sort-by-alphabet-alt:before { content: "\E406"; }

.glyphicons-sort-by-order:before { content: "\E407"; }

.glyphicons-sort-by-order-alt:before { content: "\E408"; }

.glyphicons-sort-by-attributes:before { content: "\E409"; }

.glyphicons-sort-by-attributes-alt:before { content: "\E410"; }

.glyphicons-compressed:before { content: "\E411"; }

.glyphicons-package:before { content: "\1F4E6"; }

.glyphicons-cloud_plus:before { content: "\E413"; }

.glyphicons-cloud_minus:before { content: "\E414"; }

.glyphicons-disk_save:before { content: "\E415"; }

.glyphicons-disk_open:before { content: "\E416"; }

.glyphicons-disk_saved:before { content: "\E417"; }

.glyphicons-disk_remove:before { content: "\E418"; }

.glyphicons-disk_import:before { content: "\E419"; }

.glyphicons-disk_export:before { content: "\E420"; }

.glyphicons-tower:before { content: "\E421"; }

.glyphicons-send:before { content: "\E422"; }

.glyphicons-git_branch:before { content: "\E423"; }

.glyphicons-git_create:before { content: "\E424"; }

.glyphicons-git_private:before { content: "\E425"; }

.glyphicons-git_delete:before { content: "\E426"; }

.glyphicons-git_merge:before { content: "\E427"; }

.glyphicons-git_pull_request:before { content: "\E428"; }

.glyphicons-git_compare:before { content: "\E429"; }

.glyphicons-git_commit:before { content: "\E430"; }

.glyphicons-construction_cone:before { content: "\E431"; }

.glyphicons-shoe_steps:before { content: "\E432"; }

.glyphicons-plus:before { content: "\002B"; }

.glyphicons-minus:before { content: "\2212"; }

.glyphicons-redo:before { content: "\E435"; }

.glyphicons-undo:before { content: "\E436"; }

.glyphicons-golf:before { content: "\E437"; }

.glyphicons-hockey:before { content: "\E438"; }

.glyphicons-pipe:before { content: "\E439"; }

.glyphicons-wrench:before { content: "\1F527"; }

.glyphicons-folder_closed:before { content: "\E441"; }

.glyphicons-phone_alt:before { content: "\E442"; }

.glyphicons-earphone:before { content: "\E443"; }

.glyphicons-floppy_disk:before { content: "\E444"; }

.glyphicons-floppy_saved:before { content: "\E445"; }

.glyphicons-floppy_remove:before { content: "\E446"; }

.glyphicons-floppy_save:before { content: "\E447"; }

.glyphicons-floppy_open:before { content: "\E448"; }

.glyphicons-translate:before { content: "\E449"; }

.glyphicons-fax:before { content: "\E450"; }

.glyphicons-factory:before { content: "\1F3ED"; }

.glyphicons-shop_window:before { content: "\E452"; }

.glyphicons-shop:before { content: "\E453"; }

.glyphicons-kiosk:before { content: "\E454"; }

.glyphicons-kiosk_wheels:before { content: "\E455"; }

.glyphicons-kiosk_light:before { content: "\E456"; }

.glyphicons-kiosk_food:before { content: "\E457"; }

.glyphicons-transfer:before { content: "\E458"; }

.glyphicons-money:before { content: "\E459"; }

.glyphicons-header:before { content: "\E460"; }

.glyphicons-blacksmith:before { content: "\E461"; }

.glyphicons-saw_blade:before { content: "\E462"; }

.glyphicons-basketball:before { content: "\E463"; }

.glyphicons-server:before { content: "\E464"; }

.glyphicons-server_plus:before { content: "\E465"; }

.glyphicons-server_minus:before { content: "\E466"; }

.glyphicons-server_ban:before { content: "\E467"; }

.glyphicons-server_flag:before { content: "\E468"; }

.glyphicons-server_lock:before { content: "\E469"; }

.glyphicons-server_new:before { content: "\E470"; }